<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAWdio SoundBoard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <div class="side-nav">
        <!-- Recording Controls -->
        <div>
            <button id="toggle-recording">Start Recording</button>
        </div>

        <!-- Device Selection -->
        <div>
            <h3>Select Input Device</h3>
            <select id="input-devices">
                {% for device in devices %}
                    {% if device.name == input_device %}
                        <option selected>{{ device.name }}</option>
                    {% else %}
                        <option>{{ device.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div>
            <h3>Select Output Device</h3>
            <select id="output-devices">
                {% for device in devices %}
                    {% if device.name == output_device %}
                        <option selected>{{ device.name }}</option>
                    {% else %}
                        <option>{{ device.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div id="status" class="disconnected">Disconnected</div>

        <div>
            <progress id="progress-bar" value="0" max="100"></progress>
            <div>
                <span id="current-time">0:00</span> / <span id="total-time">0:00</span>
            </div>
         </div>
    </div>

    <main>
        <h1>JAWdio SoundBoard</h1>
        <!-- List of available audio files -->
        <h3>Available Categories</h3>
        <button id="add-category-button" onclick="addNewCategory()">Add Category</button>
        <div id="categories">
        <!-- Category buttons will be dynamically added here -->
        </div>
        <h3>Available Audio Files</h3>
        
        <div id="audio-files">
            
        </div>
    </main>

    <script src="/static/js/extra.js"></script>
    <script src="/static/js/audio.js"></script>
    <script src="/static/js/outputs.js"></script>
    <script src="/static/js/recording.js"></script>
    <script src="/static/js/connection.js"></script>
</body>
</html>